body
{
	color: #1B2CD2;
	text-align: center;
	font-family: Arial;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
#cabecera
{
	background: #9B5D38;
	color: #FAF4F4;
	box-shadow: 10px 7px 2px 1px rgba(0,0,0,0.75);
	font-weight: bold;
	font-size: 20px;
	margin: 0;
	padding: 0.5em; 
}
#cabecera #tagline
{
	padding:  0 0 0 1em;
	font-weight: normal;
	font-size: 0.8em;
}
#container
{
	width: 70%;
	padding: 1em;
	text-align: left;
	border: 2px solid #1D0101;
	margin: 0 auto;
}
#container h1
{
	font-size: 20px;
}
